.hero .left, .hero .right{
    width: 50%;
    height: 100%;
}
.hero .left{
    padding: 1rem 0;
    padding-right: 2rem;
    align-items: flex-start;
}
.hero .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
